<!doctype html>
<title>Upload new file</title>
    <h1>Upload new file</h1>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
    </br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
             {% for message in messages %}
             {{ message }}
             {% endfor %}
        {% endif %}
    {% endwith %}
    <p>
    <p>

    <a href="/list/">Click here to see the uploaded files</a>
    <p>
    <p>
    <a href="/delete/">Click here to delete</a>
